
<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

// BASIC SETUP
var frameDelay = 1000; // in milliseconds
var hideTimer = 1500; // in milliseconds
var width = 1000,
    height = 1000;

var color = d3.scale.category20();

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);
	
// Clears current frame from the svg 
function clearSVG() { d3.selectAll("svg > *").remove(); return true;}

// The force-directed layout creator
function frame(jsonUrl) {
var force = d3.layout.force()
    .charge(-500)
    .linkDistance(30)
    .size([width, height]);

d3.json(jsonUrl, function(error, graph) {
  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });
	  
	   var node = svg.selectAll(".node")
		.data(graph.nodes)
		.enter().append("image")
		.attr("xlink:href", function(d) { if (d.type == "author")
											{ return d.gravatar;}
										else (d.type == "class")
											{	if (d.smell_level == 0)
													{ return "static/smell_level0.png";}
												else if (d.smell_level == 1)
													{ return "static/smell_level1.png";}
												else if (d.smell_level == 2)
													{ return "static/smell_level2.png";}
												else
													{ return "static/smell_level3.png";}
												}})
		// .attr("x", function(d) { if (d.type == "class") {return -1*(d.dimension/2);}})
		// .attr("y", function(d) { if (d.type == "class") {return -1*(d.dimension/2);}})
      .attr("width", function(d) { return d.dimension;})
      .attr("height", function(d) { return d.dimension;});

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("x", function(d) {return d.x; })
		.attr("y", function(d) {return d.y; });
  });
});
return true;
}

var currentJson = 0;
var max_json_files = 3;
function updateData(){
// Get the data again
	if (currentJson < max_json_files){
	jsonUrl = "static/json/"+currentJson+".json";
	clearSVG();
    frame(jsonUrl);
	currentJson += 1;
	}
}

setInterval(updateData,2000);




</script>


















